%p
  %h1 List: #{@list.name}

%p
  = render partial: 'tasks/form', locals: { task: @new_task }

%p
  %ul.collection.with-header
    %li.collection-header
      %h4 Tasks:
    = render @tasks

= link_to 'Public view', public_view_path(@list.slug), target: '_blank'
\|
= link_to 'Edit', edit_list_path(@list)
\|
= link_to 'Back', lists_path

%br

.row
  .input-field.col.s10
    %input{value: public_view_url(@list.slug), type: 'text', id: 'public-link'}
    %label{for: 'public-link'} Public link